*{
  padding:0;
  margin:0;
  }
     body {
     padding:50px 50px;
     background-color:#333;
  
   }
   .item{
     background-color: #e3dfda;
  border: 1px solid #333;
  border-radius: 8%;
  font-weight:bold;
  display: flex;
  align-items: center;
  justify-content: center;

   }
   .calk{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr ;
     grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
     max-width: 400px;
     height: 500px;
     border: 1px solid #333;
     cursor: pointer;
   }
   .item:hover{
    opacity:.75;
   }
   .input{
     grid-column-start: 1;
     grid-column-end: 5;
     padding: 0;
     width: 100%;
     background-color: #333;
  
  
   }
   .del{
     grid-column-start: 3;
     grid-column-end: 5;
     color: red;
     background-color: #fff;
   }
   form{
     display: block;
     width: 100%;
     height: 60px;
   }
  
   input{
     width: 99.5%;
     height: 65px;
     display: flex;
     text-align: right;
     font-size: 30px;
     background-color: #333;
     color:#fff;
  
   }
  
   
    .eq{
      grid-column-start: 1;
      grid-column-end: 5;
    }